* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  background-color: #f9f9f9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0275d8;
  padding: 10px 10px;
  color: #ffffff;
  flex-wrap:wrap;
}

.navbar .logo {
  font-size: 25px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 16px;
   flex-wrap: wrap; /* --- Added for responsiveness --- *
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.nav-links li a:hover {
  color: orange
}


 .hero {
  background: url("https://media.istockphoto.com/id/486056541/photo/group-of-african-children-east-africa.jpg?s=612x612&w=0&k=20&c=dwkvqJuYIn0_ZG6fZnUyGAYenM-RYrhFs75ruIWehJ8=") no-repeat center center/cover;
  color: white;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

 .hero-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
 
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: aqua;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: aquamarine;
  font-style: oblique;
}

.btn {
  background-color: orange;
  color: #000;
  padding: 10px ;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #ffc107;
}

.section {
  padding: 64px 32px ;
  text-align: center;
  background-color: #ffefd5;
  margin: 1rem 0;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
} 

.section p{
  color:blueviolet;
  font-weight: 200;

}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;  /* Optional for better look */
  margin-top: 20px;
}

/* --- Responsive layout for multiple images --- */
article img {
  margin: 10px;
}


footer {
  background-color: #0275d8;
  color: #ffff;
  padding: 10px;
  text-align: center;
} 

footer a{
  text-decoration: none;
  color: orange;
}
